<?xml version="1.0"?>
<config>
	<modules>
		<Ecpay_Ecpaypayment>
			<version>2.1.0206</version>
		</Ecpay_Ecpaypayment>
	</modules>

	<global>
		<models>
			<ecpaypayment>
				<class>Ecpay_Ecpaypayment_Model</class>
			</ecpaypayment>
		</models>
		<blocks>
			<ecpaypayment>
				<class>Ecpay_Ecpaypayment_Block</class>
			</ecpaypayment>
		</blocks>
		<helpers>
			<ecpaypayment>
				<class>Ecpay_Ecpaypayment_Helper</class>
			</ecpaypayment>
		</helpers>
	</global>

	<default>
		<payment>
			<ecpaypayment>
				<active>0</active>
				<allowspecific>0</allowspecific>
				<ecpay_create_status>pending</ecpay_create_status>
				<ecpay_failed_status>holded</ecpay_failed_status>
				<ecpay_hash_iv>v77hoKGq4kWxNNIS</ecpay_hash_iv>
				<ecpay_hash_key>5294y06JbISpM5x9</ecpay_hash_key>
				<ecpay_merchant_id>2000132</ecpay_merchant_id>
				<ecpay_success_status>processing</ecpay_success_status>
<!-- 2018-11-15 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
«Choose a language of the checkout interface per a store»:
https://github.com/sunpeak-us/ecpay/issues/13 -->
				<language>CHI</language>
				<model>ecpaypayment/payment</model>
				<payment_action>sale</payment_action>
				<title>綠界整合金流</title>
			</ecpaypayment>
		</payment>
	</default>
  
    <adminhtml>
        <translate>
            <modules>
                <Ecpay_Ecpaypayment>
                    <files>
                        <default>Ecpay_Ecpaypayment.csv</default>
                    </files>
                </Ecpay_Ecpaypayment>
            </modules>
        </translate>
    </adminhtml>

	<frontend>
		<events>
			<controller_action_predispatch_checkout>
				<observers>
					<ecpay__controller_action_predispatch_checkout>
						<class>Ecpay_Ecpaypayment_O</class>
						<method>controller_action_predispatch_checkout</method>
					</ecpay__controller_action_predispatch_checkout>
				</observers>
			</controller_action_predispatch_checkout>
		</events>
		<routers>
			<ecpaypayment>
				<use>standard</use>
				<args>
					<module>Ecpay_Ecpaypayment</module>
					<frontName>ecpaypayment</frontName>
				</args>
			</ecpaypayment>
		</routers>
        <translate>
            <modules>
                <Ecpay_Ecpaypayment>
                    <files>
                        <default>Ecpay_Ecpaypayment.csv</default>
                    </files>
                </Ecpay_Ecpaypayment>
            </modules>
        </translate>
	</frontend>
</config>